



<div class="container-fluid bg-dark text-light py-5">
  

  <!-- main row -->
  <div class="row">
    <!-- Sidebar -->
    <%-include("./sidebar")%>

    <div class="col-md-9 container-fluid">

      <% if(videos.length > 0) { %>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
        
          <% videos.forEach(video=>{ %>
            <div class="col">
              <div class="card shadow-sm card-bg">
                <div class="row p-2">
                  <div class="col-12">
                    <a class="my-1 rounded border-0 vid-avator d-flex justify-content-start align-items-center btn btn-outline-secondary text-light" href="/channel/<%= video.channel._id || channel._id %>">
                      <img class="rounded-circle" src="/img/<%= video.channel.channelIcon || channel.channelIcon %>" alt="">
                      <span class="mx-2 text-start" style="font-size: 1.1rem;"><%= video.channel.channelName || channel.channelName %>
                        <div class="col-12 card-data ">
                          <i><%= video.date.toDateString() %></i>
                        </div>
                      </span>
                    </a>
                  </div>
                  
                </div>

                <a href="/video/<%= video._id %>" class="w-100">
                  <img class="card-img-top" style="object-fit: cover;" width="100%" height="240" src="/img/<%= video.thumbnail %>" alt="" >
                </a>
                <div class="card-body">
                  <h6 class="card-title text-nowarp m-0"><%= video.title %></h6>
                </div>
              </div>
            </div>
          <% }) %>

          

        </div>

        <!-- pagination row -->
        <% if(typeof page !== "undefined"){ %>
          <div class="row my-4 justify-content-center">
            <div class="btn-group" style="width: 300px;">
              <% if(page.current > 1) { %>
                <a class="btn btn-outline-danger" href="?page=<%= page.current - 1 %>">Previous</a>
              <% } %>
              <a class="disabled btn btn-danger" href="#"><%= page.current %></a>
              <% if(page.hasPosts){ %>
                <a class="btn btn-outline-danger" href="?page=<%= page.current + 1 %>">Next</a>
              <% } %>
            </div>
          </div>
        <% } %>

      <% } else { %>
        <div class="row my-4">
          <h2>No videos</h2>
        </div>
      <% } %>
    </div>
  </div>

</div>
