<!DOCTYPE html>
<html lang="en">
  <!-- Head imports -->
  <%-include("./partials/head")%>
<body class="bg-dark text-light">
  <!-- navbar imports -->
  <%-include("./partials/navbar")%>

  <div class="container-fluid py-5">
    <!-- main row -->
    <div class="row">
      <!-- Sidebar -->
      <%-include("./partials/sidebar")%>

      <div class="col-md-9 container-fluid">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
          <% channels.forEach(channel=>{ %>
            <div class="col" href="/sadf">
              <div class="card shadow-sm card-bg">
                <a href="/channel/<%= channel._id %>" class="w-full">
                  <img class="card-img-top" style="object-fit: cover;" width="100%" height="225" src="/img/<%= channel.channelIcon %>" alt="" >
                </a>
                <div class="card-body">
                  <h6 class="card-title text-nowarp m-0"><%= channel.channelName %></h6>
                </div>
                

              </div>
            </div>
          <% }) %>
  
          
  
        </div>
  
        <!-- pagination row -->
        <div class="row my-4 justify-content-center">
          <div class="btn-group" style="width: 300px;">
            <% if(page.current > 1) { %>
              <a class="btn btn-outline-danger" href="?page=<%= page.current - 1 %>">Previous</a>
            <% } %>
            <a class="disabled btn btn-danger" href="#"><%= page.current %></a>
            <% if(page.hasPosts){ %>
              <a class="btn btn-outline-danger" href="?page=<%= page.current + 1 %>">Next</a>
            <% } %>
          </div>
        </div>
  
      </div>
    </div>
  
  </div>

  <!-- footer -->
  <%-include("./partials/footer")%>
  
  
</body>
</html>