<!DOCTYPE html>
<html lang="en">

  <!-- Head imports -->
  <%-include("./partials/head")%>


<body>
  
  <!-- navbar imports -->
  <%-include("./partials/navbar")%>

  <%-include("./partials/attraction")%>

  
  
  <!-- VideosContainer -->
  <%-include("./partials/videosContainer", { videosCaption:"Featured Videos"})%>

  <!-- footer -->
  <%-include("./partials/footer")%>
  
  
</body>
</html>