<!DOCTYPE html>
<html lang="en">

  <!-- Head imports -->
  <%-include("./partials/head")%>


<body class="bg-dark text-light">
  
  <!-- navbar imports -->
  <%-include("./partials/navbar")%>


  

  <div class="container-fluid my-4">
    <!-- the video -->
    <div class="row">
      <!-- video on left like youtube -->
      <div class="col-12 col-lg-8">
        <video controls class="rounded shadow" style="width: 100%; max-height: 100vh;" src="/vid/<%= video.src %>" poster="/img/<%= video.thumbnail %>">
          <p>Your browser doesn't support HTML5 video. Here is a <a href="/vid/<%= video.src %>">link to the video</a> instead.</p>
        </video>

        <div class="btn-group my-2 w-100">
          <a class="btn btn-outline-danger" download="<%= video.title %>" href="/vid/<%= video.src %>">Download</a>

          <% if(typeof auth !== "undefined"){ %>
            <% if(auth.signedIn && video.channel._id.toString() === auth.theChannel._id.toString()) { %>
              <a href="/profile/video_edit/<%= video._id %>" class=" btn btn-outline-primary">Edit</a>
            <% } %>
          <% } %>
        </div>

      </div>
      <!-- description on right -->
      <div class="col-12 col-lg-3">
        <h1 class="h3"><%= video.title %></h1>
        
        <a class="my-1 rounded border-0 vid-avator d-flex justify-content-start align-items-center btn btn-outline-light" href="/channel/<%= video.channel._id %>">
          <img class="rounded-circle" src="/img/<%= video.channel.channelIcon %>" alt="">
          <span class="mx-2" style="font-size: 1.1rem;">Afghan Code Camp
            <div class="col-12 card-data text-start">
              <i><%= video.date.toDateString() %></i>
            </div>
          </span>
        </a>
          

        <div>
          <% video.keywords.split(",").forEach(keyword =>{ %>
            <a href="/?department=<%= keyword %>" class="btn btn-sm btn-outline-light m-1"><%= keyword %></a>
          <% }) %>
        </div>
        <p><%= video.description %></p>

        <br>
        <span class="badge bg-success"> Views: <%= video.views %></span>


       

        
        

      </div>
    </div>
  </div>

  <!-- VideosContainer -->
  <%-include("./partials/videosContainer", { videosCaption:"Related Videos"})%>


  
  <!-- footer -->
  <%-include("./partials/footer")%>
  
  
</body>
</html>